*{
    font-family:Poppins;
}

/*navigation*/
ul {
    list-style-type: none;
    margin-left: auto;
    width: 50%;
  }

.logo {
    width: 23%;
    padding: 20%;
    text-align: center;
}

nav {
    padding: 1%;
    display: flex;
}

.primary {
    display:flexbox;
    flex-direction: row;
}

/* hero */
.hero {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {  
    color:#4773e0;
    text-align: left;
    width:fit-content;
    padding: 100px;
    
}

h1 {
    font-size: 80pt;
    line-height: 80pt;
    width: 600px;
    margin-bottom: 40px;
}

em {
    color: #e54888;
    font-style: normal;
}

p {
    font-size: 20pt;
    font-weight: medium; 
    line-height: 50px;
    width: 600px;

}


/*footer*/

.footer-container

.sitemap-container {
    height: 100px;
    width: 300px;
}


.icons-container

.text-container {
    height:100px;
    widows: 200px;
}



footer p {
    width: 200px;
}

#footerblurb {
text-align: left;
padding: 20px;
}

.linkedinlogo{
    background-image: url(../images/linkedinlogo.png);
}

.email{
    background-image: url(../images/envelope.jpg);
}